<div class="container-fluid">
    <main class="row mx-2 justify-content-center">
        {{#each posts as |post|}}
        <div class="card mt-4 custom-box-shadow px-0 col-11 border-dark border-2">
            <a class="link-light text-decoration-none" data-bs-toggle="collapse" href="#cardBody{{post.id}}"
                role="button" aria-expanded="false" aria-controls="cardBody">
                <div class="card-header d-flex bg-secondary" id="post_title">
                    <span class="h4 me-auto">{{post.title}}</span> <span class="">Posted by {{user.username}} on
                        {{post.created_at}}</span>
                </div>
            </a>
            <div class="collapse" id="cardBody{{post.id}}">
                <div class="card-body post-body overflow-auto" id="cardBody">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">{{post.content}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <a class="link-light text-decoration-none comment-link" data-bs-toggle="collapse"
                    href="#commentBody{{post.id}}" role="button" aria-expanded="false" aria-controls="commentBody">
                    <div class="card-footer py-1 bg-secondary">
                        <small class="fw-bold ">Comments</small>
                    </div>
                </a>
                <div class="collapse" id="commentBody{{post.id}}">

                    <div class="card-body overflow-auto comment-body p-0">
                        {{> comment post.comments}}
                    </div>

                    <div class="card-body comment-body p-0 row mx-0 bg-secondary">
                        <form class="row comment-form justify-content-center mx-0">
                            <div class="mt-3 col-10">
                                <textarea class="form-control hide-scroll" placeholder="Leave a comment here"
                                    id="commentText"></textarea>
                            </div>

                            <div class="mt-1 text-center">
                                <button type="submit"
                                    class="btn btn-warning btn-sm col-6 mt-1 mb-2 rounded">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </main>
</div>
